{% extends "airline/index.html" %}
{% block content %}

<div class="table">
    <h1>
        All passager registered for flight {{flight.id}}</a> 
        from:  <a href="/airline/airport/{{flight.start.id}}">{{flight.start}}</a>
        to <a href="/airline/airport/{{flight.destination.id}}">{{flight.destination}}</a>
        on {{flight.date}}
    </h1>
<table class="table">
    <thead>
        <tr>
            <th>Passager id: </th>
            <th>Passager first name: </th>
            <th>Passager surname: </th>
        </tr>
    </thead>
    <tbody>
        {% if flight.passengers.all %}
            {% for passager in flight.passengers.all %}
                <tr>
                        <td><a href="/airline/passager/{{passager.id}}">{{passager.id}}</a></td>
                        <td>{{passager.first_name}}</td>
                        <td>{{passager.surname}}</td>
                </tr>
            
            {% endfor %}
        {% else %}
                <tr>
                    <td>No passager</td>
                </tr>
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}